In [1]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols as sm_ols
from statsmodels.iolib.summary2 import summary_col # nicer tables

In [2]:
import pandas as pd

# Read in the dataset
df = pd.read_csv('./input_data_clean/CEO_DF.csv')

# Calculate the median age
median_age = df['AGE'].median()

# Create a new column for prestige_power based on whether age is greater than median
df['prestige_power'] = (df['AGE'] > median_age).astype(int)

# Create levels for prestige_power
prestige_power_levels = {
    0: 'Lowest',
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Highest'
}
df['prestige_power'] = pd.cut(df['prestige_power'], bins=5, labels=prestige_power_levels.values())

# Print the updated dataset

      Unnamed: 0   GVKEY TICKER CEOANN   SALARY  BONUS  STOCK_AWARDS  \
0              0    1045    AAL    CEO  669.646    0.0      3280.680
1              1    1045    AAL    CEO  613.842    0.0      4020.380
2              2    1045    AAL    CEO  618.135    0.0         0.000
3              3    1045    AAL    CEO  591.911    0.0      4199.761
4              4    1045    AAL    CEO  687.884    0.0      7000.000
...          ...     ...    ...    ...      ...    ...           ...
5644        5644  316056   ALLE    CEO  938.462    0.0      2514.691
5645        5645  316056   ALLE    CEO  950.000    0.0      2331.625
5646        5646  316056   ALLE    CEO  950.000    0.0      2776.707
5647        5647  316056   ALLE    CEO  950.000    0.0      3017.362
5648        5648  316056   ALLE    CEO  986.539    0.0      3015.155

      OPTION_AWARDS    OTHCOMP  TOTAL_CURR  ...  JOINED_CO     LEFTOFC  \
0          1185.940     94.660     669.646  ...        NaN  2011-11-28
1           798.600     93.996     613.842  ...        NaN  2011-11-28
2             0.000     37.458     618.135  ...        NaN  2013-12-09
3             0.000  13117.484     591.911  ...        NaN  2013-12-09
4             0.000    414.092     687.884  ...        NaN  2022-03-31
...             ...        ...         ...  ...        ...         ...
5644        750.012    475.236     938.462  ...        NaN  2022-07-11
5645        750.004    377.832     950.000  ...        NaN  2022-07-11
5646        837.501    308.895     950.000  ...        NaN  2022-07-11
5647        912.511    228.104     950.000  ...        NaN  2022-07-11
5648        975.006    527.724     986.539  ...        NaN  2022-07-11

      GENDER     CUSIP                               NAICSDESC   SIC  \
0       MALE  02376R10  Scheduled Passenger Air Transportation  4512
1       MALE  02376R10  Scheduled Passenger Air Transportation  4512
2       MALE  02376R10  Scheduled Passenger Air Transportation  4512
3       MALE  02376R10  Scheduled Passenger Air Transportation  4512
4       MALE  02376R10  Scheduled Passenger Air Transportation  4512
...      ...       ...                                     ...   ...
5644    MALE  G0176J10                  Hardware Manufacturing  3420
5645    MALE  G0176J10                  Hardware Manufacturing  3420
5646    MALE  G0176J10                  Hardware Manufacturing  3420
5647    MALE  G0176J10                  Hardware Manufacturing  3420
5648    MALE  G0176J10                  Hardware Manufacturing  3420

          MKVALT SIZE_CATEGORY                   signature_index  \
0      2597.5755        Medium  c5cfee96827874d696f92bc8dc8e7d1c
1       117.3438          Tiny  03d75aed72524dfeb17fbbce2574b46a
2       266.5571          Tiny  15564e09568d0b6f2f1897f5c3071885
3      6591.9923        Medium  d4a0b6385b961d3e6cd8358db5f13dd8
4     37405.5843           Big  d3d6750755aedf18253dfe15a361256d
...          ...           ...                               ...
5644   6327.7267        Medium  ca5d424ccdfae0695a38bef04e10c23e
5645   6097.5360        Medium  8a688a63d5a21a30eee09123358df852
5646   7563.1327        Medium  e82fccc208aacc0aeb70c4253640e232
5647   7543.5153        Medium  6da4363cd7ef0836d8299b821a17f0a9
5648  11547.8470           Big  1639b7f9e486aa6a98e9611f4c2ab9f3

      prestige_power
0             Lowest
1             Lowest
2             Lowest
3             Lowest
4             Lowest
...              ...
5644          Lowest
5645         Highest
5646         Highest
5647         Highest
5648         Highest

[5649 rows x 24 columns]

In [3]:
df.head()

,Unnamed: 0,GVKEY,TICKER,CEOANN,SALARY,BONUS,STOCK_AWARDS,OPTION_AWARDS,OTHCOMP,TOTAL_CURR,...,JOINED_CO,LEFTOFC,GENDER,CUSIP,NAICSDESC,SIC,MKVALT,SIZE_CATEGORY,signature_index,prestige_power
0,0,1045,AAL,CEO,669.646,0.0,3280.680,1185.94,94.660,669.646,...,NaN,2011-11-28,MALE,02376R10,Scheduled Passenger Air Transportation,4512,2597.5755,Medium,c5cfee96827874d696f92bc8dc8e7d1c,Lowest
1,1,1045,AAL,CEO,613.842,0.0,4020.380,798.60,93.996,613.842,...,NaN,2011-11-28,MALE,02376R10,Scheduled Passenger Air Transportation,4512,117.3438,Tiny,03d75aed72524dfeb17fbbce2574b46a,Lowest
2,2,1045,AAL,CEO,618.135,0.0,0.000,0.00,37.458,618.135,...,NaN,2013-12-09,MALE,02376R10,Scheduled Passenger Air Transportation,4512,266.5571,Tiny,15564e09568d0b6f2f1897f5c3071885,Lowest
3,3,1045,AAL,CEO,591.911,0.0,4199.761,0.00,13117.484,591.911,...,NaN,2013-12-09,MALE,02376R10,Scheduled Passenger Air Transportation,4512,6591.9923,Medium,d4a0b6385b961d3e6cd8358db5f13dd8,Lowest
4,4,1045,AAL,CEO,687.884,0.0,7000.000,0.00,414.092,687.884,...,NaN,2022-03-31,MALE,02376R10,Scheduled Passenger Air Transportation,4512,37405.5843,Big,d3d6750755aedf18253dfe15a361256d,Lowest

In [4]:
df.to_csv('./input_data_clean/CEO_DF.csv')